<jdbcusergroupservice>
  <id>-6e132dc:19b4b89a08e:-8000</id>
  <name>jdbc_login</name>
  <className>org.geoserver.security.jdbc.JDBCUserGroupService</className>
  <propertyFileNameDDL>usersddl.xml</propertyFileNameDDL>
  <propertyFileNameDML>usersdml.xml</propertyFileNameDML>
  <jndi>false</jndi>
  <driverClassName>org.postgresql.Driver</driverClassName>
  <connectURL>jdbc:postgresql://db:5432/tosca?currentSchema=gs_auth_role_schema</connectURL>
  <userName>tosca_gs</userName>
  <password>21sWrTu9s8d7f6g5h4j3k2l1a!.Pthds</password>
  <creatingTables>true</creatingTables>
  <passwordEncoderName>strongPbePasswordEncoder</passwordEncoderName>
  <passwordPolicyName>default</passwordPolicyName>
</jdbcusergroupservice>