<jdbcroleservice>
  <id>-6e132dc:19b4b89a08e:-7fff</id>
  <name>${GS_ROLE_SERVICE_NAME}</name>
  <className>org.geoserver.security.jdbc.JDBCRoleService</className>
  <propertyFileNameDDL>rolesddl.xml</propertyFileNameDDL>
  <propertyFileNameDML>rolesdml.xml</propertyFileNameDML>
  <jndi>false</jndi>
  <driverClassName>org.postgresql.Driver</driverClassName>
  <connectURL>jdbc:postgresql://${PG_HOST}:${PG_DOCKER_PORT}/${PG_DATABASE}?currentSchema=${PG_SCHEMA_GEOSERVER}</connectURL>
  <userName>${PG_GS_USER}</userName>
  <password>${PG_GS_PASSWORD}</password>
  <creatingTables>true</creatingTables>
  <adminRoleName>${GS_ADMIN_ROLE}</adminRoleName>
  <groupAdminRoleName>${GS_GROUP_ADMIN_ROLE}</groupAdminRoleName>
</jdbcroleservice>